*{
    margin: 0;
    padding: 0;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    position: sticky;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: right;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 18px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition:0.4s ease-in-out;

}

ul li a:hover{
    color: #ff7200;
}

section h2{
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 620px;
    color: #f1f1f1;
    text-align: center;
    display: flex;
    
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.title{
  margin: 10px;
  background:white;
  padding: 10px;
  width: 100%;
  text-align: center;
  justify-content: center;

}
.formbox{
    position:relative;
    width: 400px;
    height: 560px;
    background:white;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height:180px;
    
}
body {font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);  
}
form {
  border: 0px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
 

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  
}

img.avatar {
  width: 50%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.op{

  color:black;
  display: block;
  font-size: 20px;
  margin: 10px 0;
  padding: 6px 8px;
  text-decoration: none;
}
label a{
  display:flex;
  margin-top: 20px;
  

}
label .l2 input{
  display: flex;
 }
a .active{
  justify-content: center;
  display: block;
}

div .active{
  height: 40px;
  width: 100px;
  margin-left: 35%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.active a:link{
  color: black;
  background-color: transparent;
  text-decoration: none;

}
.active a:hover{
  color: #ff7200;
  
}