{% extends 'navigation.html' %}
{% block body%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All complaints</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'allcom.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <div class="title">
        <h2> All Complaints</h2>
    </div>
   

    <div class="tab">
        <table>
            <tr>
              <th>Id</th>
              <th>Subject</th>
              <th>Complaint type</th>
              <th>Issued date</th>
             
              <th>Status</th>
            </tr>
            {% for c in all1 %}
            <tr>
               
                <td>{{c.id}}</td>
                <td>{{c.Subject}}</td>
                <td>{{c.Type_of_complaint}}</td>
                <td>{{c.Time}}</td>
                <td>{{c.get_status_display}}</td> 
            </tr>
           
           
            {% endfor %}
          </table>
          
    </div>
</body>
</html>{%endblock body%}