{% extends 'navigation.html' %}
{% block body%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>help</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'help.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <form>
        <div class="heading">
            <h1>Help Center</h1>
        </div>
        
        <div class="content">
            <h2>Hi, How can we help you ?</h2>

            <div class="title">
                What's New
            </div>

            <div class="que">
                <p>

                   <div class="a1"> How to add a Complaint?<br></div>
                    <br>
                    <div class="ans">
                        
                        1.first of all register yourself <br>
                        2.go to login senction and log in<br>
                        3.in the profile , there is option of add complaint<br>
                        4.write the discription of complaint and file the complaint<br>
                        <br>
                    </div>
                    <div class="a1">How to check status of complaint?<br></div>
                    <br>
                    <div class="ans">
                    
                        1.first of all register yourself <br>
                        2.go to login senction and log in<br>
                        3.in the profile , there is option of all complaints<br>
                        4.in all complits serch for your complaint and check status<br>
                        <br>
                    </div>
                    <div class="a1">How do i change my password?<br></div>
                    <br>
                    <div class="ans">
                        1.first of all register yourself <br>
                        2.go to login senction and log in<br>
                        3.in the profile , there is option ofsetting<br>
                        4.From setting you can chnge your password<br>

                    <br>
                    </div>
                    <div class="a1"> How to add a Complaint?<br></div>
                    <br>
                    <div class="ans">
                        
                        1.first of all register yourself <br>
                        2.go to login senction and log in<br>
                        3.in the profile , there is option of add complaint<br>
                        4.write the discription of complaint and file the complaint<br>
                        <br>
                    </div> 
                </p>
            </div>
        </div>
    </form>
    
</body>
</html>{%endblock body%}